{
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
